/*  FILTER  */

#filter {
    display: flex;
    margin: 0 100px;
    position:relative;
    height:70px;
    width: fit-content;
}

@media all and (max-width:767px) {
    #filter {
        flex-direction: column;
        margin:auto;
        margin-top:30px;
        margin-bottom:40px;
        align-items: center;
    }
}

#filter > h2 {
    margin:0;
    margin-top:4px;
    margin-right: 20px;
    font-size: 18px;
    width:74px;
    height:23px;

}
@media all and (max-width:767px) {
    #filter > h2 {
        margin: 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.custom-select {
    cursor: pointer;
    color:white;
    width: 170px;
    height:50px;
    z-index:3;
}

.custom-select.active {
    height:150px;
    z-index:3;
}
/* On masque le select basique */
.custom-select select{
    display: none;
}

.custom-select-global {
    background-color: #901C1C;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.new-select {
    background-color:#901C1C;
    position:relative;
    padding: 14px;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
}

.new-select.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.new-select::after {
    content: "";
    position: absolute;
    top:22px;
    right:5px;
    border:6px solid;
    border-color:white transparent transparent transparent;
    height:0;

}

.new-select.active::after {
    border-color: transparent transparent white transparent;
    top:15px;

}

.select-items {
    margin-left: 20px;
    margin-right: 20px;

}

.select-items div {

    width: 80%;
    background-color:#901C1C;
    padding:14px;
    height:33%;
    border-top: 1px solid white;
    cursor: pointer;
}

.select-hide {
    display:none;
}

#filter > div > div.select-items > div:nth-child(2) {
    padding: 14px;
}

#filter > div > div.select-items > div:nth-child(3) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 14px;
}