/*  FILTER  */

#filter {
    display: flex;
    margin: 0 100px;
    position:relative;
    height:70px;
}

@media all and (max-width:767px) {
    #filter {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin:0;
        margin-top:40px;
        margin-bottom:100px;
        align-items: center;
        bottom:0%;
    }
}


#filter > h2 {
    margin:0;
    margin-top:4px;
    margin-right: 20px;
    font-size: 18px;
    width:74px;
    height:23px;

}
@media all and (max-width:767px) {
    #filter > h2 {
        margin: 0;
        margin-bottom: 10px;
        margin-top: 40px;
    }
}


.custom-select {
    color:white;
    width: 170px;
}

/* On masque le select basique */
.custom-select select{
    display: none;
}

.new-select {
    background-color:#901C1C;
    position:relative;
    padding: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.new-select::after {
    content: "";
    position: absolute;
    top:20px;
    right:5px;
    border:6px solid;
    border-color:white transparent transparent transparent;
    height:0;
}

.new-select.active::after {
    border-color: transparent transparent white transparent;
    top:12px;

}

.select-items div {
    background-color:#901C1C;
    padding:7px;
    height:33%;
    border-top: 2px solid white;
    cursor: pointer;
}

.select-hide {
    display:none;
}