#lightbox {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index:10;
    border-radius: 5px;
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox__container {
    width:1050px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-lightbox {
    width: 80%;
    height:80%;
    object-fit: cover;
    border-radius: 5px;
}

.lightbox__close {
    background: url('../assets/icons/arrow.svg');
    position: absolute;
    top:2%;
    right:17%;
    color:#901C1C;
    font-size: 48px;

}
.lightbox__next {
    position: absolute;
    top:50%;
    right:17%;
    color:#901C1C;
    font-size: 48px;

}
.lightbox__prev {
    position: absolute;
    top:50%;
    left:17%;
    color:#901C1C;
    font-size: 48px;
}
