#lightbox {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index:10;

    border-radius: 5px;
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-lightbox {

    max-width:1050px;
    /* height: 900px; */
    object-fit: contain;
    height:300px;
    border-radius: 5px;

}

.lightbox__close {

}

.lightbox__next, 
.lightbox__prev {
    border:none;
    /* background-image:url('../assets/icons/arrow.svg'); */
    background-image:url('../assets/images/195/Architecture_Contrast.jpg');
    background-repeat: no-repeat;
    width:80px;
    height:140px;
    color:red;
}

.lightbox__prev {

}