#contact_modal {
    display: none;
    margin:0 auto;
    position: absolute;
    left: 0;
    right:0;
    top: 50%; 

}
/*HEADER OF THE PAGE*/

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-header-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;

}

.photographer-name {
    font-size:64px;
    font-weight: 400;
    line-height:83px;
    vertical-align: top;
    margin:0;
    color: #D3573C;
}

.photographer-location {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    margin:0;
    color:#901C1C;
}

.photographer-tagline {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}

.contact_button {
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {

    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    /* resolution problème input vs video-card */
    z-index:1;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
 }


/* MAIN PAGE GALLERY PICTURES */
.medias-main {
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.media-card {
    box-sizing: content-box;
    width:350px;
    margin-bottom: 30px;

}

.media-likes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.media-likes i {
    margin-left:5px;
}
.image-card {
    width:350px;
    height:300px;
    object-fit:cover;
    border-radius:5px;
}
.video-card {
    width:350px;
    height:300px;
    object-fit:cover;
    border-radius:5px;
}
.image-card-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
}

.image-card-infos h2,
.image-card-infos h3 {
    font-size: 24px;
    font-weight:400;
    line-height: 31.25px;
}


/* MAIN PAGE GALLERY INFOS BOTTOM */

.medias-info {
    display: flex;
    justify-content: space-around;
    margin-right: 36px;
    position:fixed;
    bottom:-2%;
    right:0%;
    width:376px;
    height:89px;
    background-color:#DB8876;
    border-radius: 5px;
    font-size : 24px;
    font-weight:500;
}

.insert-likes {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;

}

.insert-likes i {
    margin-left:5px;
}

.insert-rates {

    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    
}
