
/*HEADER OF THE PAGE*/

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

@media all and (max-width:767px) {
    .photograph-header {
        width:100%;
        height:400px;
        margin:0;
    }

}



.photograph-header-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
}

@media all and (max-width:767px) {
    .photograph-header-banner {

        flex-direction: column;
        height:400px;

    }
}

.photographer-name {
    font-size:64px;
    font-weight: 400;
    line-height:83px;
    vertical-align: top;
    margin:0;
    color: #D3573C;
}

@media all and (max-width:767px) {
    .photographer-name {
        font-size: 40px;
        text-align: center;
        line-height: normal;
    }
}




.photographer-location {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    margin:0;
    color:#901C1C;
}

@media all and (max-width:767px) {
    .photographer-location {
        text-align:center;
    }
}



.photographer-tagline {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}

@media all and (max-width:767px) {
    .photographer-tagline {
        text-align:center;
        margin-top: 5px;
    }
}





.contact_button {
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

@media all and (max-width:767px) {
    .contact_button {
        margin-bottom: 20px;
    }

    
}

#contact_modal {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    padding-top: 56px;
    width:80%;
    display: none;
    margin:0 auto;
    z-index:4;
}




#modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    z-index: 4;

}

@media all and (max-width:767px) {
    #modal {
        width:80%;
        justify-content: center;
    }
}

#modal header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}




#modal .header-title {
    width:100%;
    display: flex;
    justify-content: space-between;
}
@media all and (max-width:767px) {
    #modal .header-title {
        flex-wrap: wrap-reverse;
        justify-content: end;
    }
}

#modal header img {
    cursor: pointer;
}

#modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin:0;
    line-height: 83.33px;
}

@media all and (max-width:767px) {
    #modal header h2 {
        line-height: normal;
        display: flex;
        justify-content: left;
        width:100%;
        font-size: 45px;
    }
}

.photograph-form-name {
    width:100%;
    display: flex;
    justify-content: flex-start;
    height: auto;

}

@media all and (max-width:767px) {
    .photograph-form-name {
        justify-content: center;
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;
    margin-top: 20px;

}

@media all and (max-width:767px) {
    form {
        justify-content: center;
        align-items: center;
    }
}



form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
    background-color: #DB8876;

}

/* #formdatas {
    background-color: #901C1C;
} */


form input {
    /* resolution problème input vs video-card */
    font-size: 30px;
    padding-left: 15px;
    z-index:2;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#form_message {
    padding-top: 10px;
}

textarea {
    width:100%;
    padding-left: 15px;
    font-size: 30px;


}

.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
 }



/* MAIN PAGE GALLERY PICTURES */

.medias-main {
    margin: 0 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media all and (max-width:767px) {
    .medias-main {
      display: flex;
      /* width:100%; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin:0;

    }
}


.media-card {
    box-sizing: content-box;
    width:350px;
    margin-bottom: 30px;

}

@media all and (max-width:767px) {
    .media-card {
        margin-bottom:80px;
        width: 300px;

    }
}


.media-likes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.media-likes i {
    margin-left:5px;
}
.image-card,
.video-card {
    width:350px;
    height:300px;
    object-fit:cover;
    border-radius:5px;
}

@media all and (max-width:767px) {
    .image-card,
    .video-card {
        width:300px;
        height:257px;
    }

}

.media-element {
    cursor:pointer;
}

.image-card-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
}

.image-card-infos h2,
.image-card-infos h3 {
    font-size: 24px;
    font-weight:400;
    line-height: 31.25px;
}


/* MAIN PAGE GALLERY INFOS BOTTOM */

.medias-info {
    z-index:3;
    display: flex;
    justify-content: space-around;
    margin-right: 36px;
    position:fixed;
    bottom:-2%;
    right:0%;
    width:376px;
    height:89px;
    background-color:#DB8876;
    border-radius: 5px;
    font-size : 24px;
    font-weight:500;
}

@media all and (max-width:767px) {
    .medias-info {
        height: auto;
        width: 100%;
        font-size : 24px;
        bottom:-1%;
        margin-right: 0;
        align-items: center;
    }
}

.insert-likes {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
}

.insert-likes i {
    margin-left:5px;
}

.insert-rate {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    
}

@media all and (max-width:767px) {
    .insert-likes {
        margin:0;
    }
    .insert-likes i {
        margin-left:2px;
        margin:0;
    }

    .insert-rate {
        text-align: center;
        margin:10px;
    }
}